@import 'modal.css';
@import 'tool-tip.css';

* {
    margin:0;
    padding: 0;
    border-style: border-box;
}

:root {

    /* Color vars */
    --title-color: #F2F2F2;
    --gray-light: #A6A6A6;
    --background-color: #F2F2F2;
    --gray: #0a0505;
    --gray-medium: #262626;
    --gray-dark: #0D0D0D; 
    scroll-behavior: smooth;

}

ul, dl {
    list-style: none;
}

h1, h2, h3, a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {

    background: var(--background-color);
    color: var(--gray-light);
    -webkit-font-smoothing: antialiased;
    
    font-family: 'Inter', sans-serif;


}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {

    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--gray-medium);

}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.menu ul:nth-child(1) {
    margin-left: 14px;
}

.menu li a{
    display: block;
    padding: 14px;
    color: var(--title-color);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;


}

.grid-section {

    grid-column: 2 / 4;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;

}

.title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
    text-transform: uppercase;

}

.animals h2::before{
    content:'';
    display: inline-block;
    width:40px;
    height: 10px;
    margin-right: 10px;
    background: var(--gray-medium);

}

.animals h2 {
    color: var(--gray-dark);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.animals p {

    font-weight: 400;
    color: var(--gray);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animals-list {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animals-list li {
  cursor: pointer;
}

.animals-list::-webkit-scrollbar {
    width: 18px;

}

.animals-list::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
    border-left: 4px solid var(--gray);
    border-left: 4px solid var(--gray);
}

.animals-list::-webkit-scrollbar-track {
    background: var(--title-color);
    opacity: 0.8;
}

.animals-info {

    grid-column: 3;
}

.animals-info section {
    margin-bottom: 3rem;
}

section.faq {
    background-size: cover;
    display: block;
    width: 100vw;   
    
}

section.faq .title{
    color: var(--gray-dark);
}

.faq-list {
    grid-column: 2 / 4;

}

.faq-list dt::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    
}

.faq-list dt {

    margin-top: 2rem;
    margin-bottom:.5rem;
    color: var(--gray);
    

}

.faq-list dd {
    margin-left: 30px;
    margin-bottom: .5rem;


}

.map {
    grid-column: 2;
    max-width: 100%;
    max-height: 100%;

}

.data-info {
    grid-column: 3;

}

.data-info li {
    margin-bottom: 1rem;

}

.data-info li::before {

    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background: var(--gray-medium);
    margin-right: 10px;
  
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: var(--gray)

}

.copy p {
    padding: 20px;
    text-transform: uppercase;
    line-height: 1;
    color: var(--title-color);
}



@media (max-width: 700px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .animals-list {
        grid-column: 1;
         
    }

    .faq-list, .data-info, .map {
        grid-column: 1 / 3;

    }

    .title {
        font-size: 3rem;
    }

    .menu {
        margin-top: 0;
    }

    .copy {
        margin-bottom:0;

    }
}

/* JS TABMENU */


.js .js-tabcontent section{
    display: none;
}

.js .js-tabcontent section.active {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from{
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);


    }
}

/* Accordion menu */

.js .js-accordion dd{
    display: none;

}



.js .js-accordion dt::after{
    content: "⮧";
    margin-left: 10px;
    margin-top: 5px;

}

.js .js-accordion dt.active::after {

    content: "⮥";
    margin-left: 10px;

}

.js .js-accordion dd.active{
    display: block; 
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from{
        opacity: 0;
        max-height: 0;

    }
    to{
        opacity: 1;
        max-height: 200px;

    }
}

/* Scroll animation */

.js .js-scroll {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-30px, 0, 0);

}

.js .js-scroll.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    
}